@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #00434A;
    --secondary-color: #FFFFF2;
    --accent1-color: #218B84;
    --accent1-color: #41D3BD;

    --heading-font: 'Work Sans', serif;
    --paragraph-font: 'Quicksand', serif;

    --nav-background-color: #41D3BD;
    --nav-link-color: #FFFFF2;
    --nav-hover-link-color: #218B84;
    --nav-hover-background-color: #41D3BD;

    --alpha: 0.8;
}

body{
    font-family: var(--paragraph-font);
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
}

main {
    max-width: 100%;
    margin: 0;
}

h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h1 {
    position: absolute;
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: rgba(255, 255, 240, 0.534);
    top: 20px;
    left: 0;
    right: 0;
    text-align: center;
}

article {
    max-width: 90%;
    left: 0;
    right: 0;
    position: absolute;
    background-color: rgba(255, 255, 240, 0.534);
    top: 150px;
    margin: 0 auto;
}

.hero article img {
    width: 200px;
    height: auto;
    float: right;
    margin: 0;
}

header{
    display: grid;
    grid-template-columns: 300px  120px 1fr;
    grid-template-rows: 10px 1fr 10px;
    width: 100%;
    height: 150px;
    padding: 10px;
    background-color: var(--accent1-color);
}

/* header img {
    display: grid;
} */

p {
    text-align: center;
    padding: 25px;
}


nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: flex;
    flex-direction: row;
    color: var(--nav-link-color);
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem;
    flex: 1 1 300%;
}

nav a:link, nav a :visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

footer {
    display:grid;
}

.footer-box {
    display: grid;
    grid-template-columns: 1fr 20%;
    background-color: var(--nav-background-color);

}







/* Class & ID Selectors */
/* .adventue-waits section{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 100px 500px;

} */
.adventue-waits h2{
    display: grid;
    font-size: 3rem;
    grid-column: 2/5 ;
    grid-row: 1;
    align-content: center;
    justify-content: center;
}

.adventue-waits section{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 100px 300px;
}
.adventue-waits img{
    display: grid;
    grid-row: 2;
    width: 100%;
    height: auto;
}


.history section{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: repeat(3, 200px);
    align-content: center;
    justify-content: center;
}

.history img{
    display: grid;
    width: 100%;
    height: auto;
    grid-column: 2;
    grid-row: 2;
    justify-content: center;
    align-content: center;
}

.history h2 {
    grid-column: 2;
    font-size: 3rem;
}

.history p.left{
    grid-column: 1;
    grid-row: 1;
    justify-items: center;
    align-items: center;
}

.history p.right{
    grid-column: 3;
    grid-row: 1;
    justify-items: center;
    align-items: center;
}

.hero {
    position: relative;
}


.hero img {
    display: grid;
    width: 100%;
    height: auto;
} 
.navigation-box {
    display: grid;
    grid-column: 3/5;
    grid-row: 2;
    justify-content: center;
    align-content: center;
}

.navigation {
    display: flex;
    justify-content: flex-end; 
    flex-wrap: nowrap;
    list-style: none;
}



.sociallinks a{
    display: grid;
    grid-column: 3;
    justify-content: center;
    align-content: center;
}

.logo {
    display: grid;
    grid-column: 1;
    grid-row: 1/4;
    justify-content: center;
    align-content: center;
}