@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #00434A;
    --secondary-color: #FFFFF2;
    --accent1-color: #218B84;
    --accent1-color: #41D3BD;

    --heading-font: 'Work Sans', serif;
    --paragraph-font: 'Quicksand', serif;

    --nav-background-color: #41D3BD;
    --nav-link-color: #FFFFF2;
    --nav-hover-link-color: #218B84;
    --nav-hover-background-color: #41D3BD;

    --alpha: 0.8;
}

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    margin: 0 auto;
}

main {
    max-width: 960px;
    margin: 0;
}

h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h1 {
    position: absolute;
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: rgba(255, 255, 240, 0.534);
    top: 100px;
    left: 0;
    right: 0;
    text-align: center;
}

article {
    max-width: 90%;
    left: 0;
    right: 0;
    position: absolute;
    background-color: rgba(255, 255, 240, 0.534);
    top: 200px;
    margin: 0 auto;
}

.hero article img {
    width: 150px;
    height: auto;
    float: right;
    margin: 0;
}

header{
    display: inline;
    width: 100%;
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    text-align: center;
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a :visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

#adventue-waits {
    text-align: center;
}

#adventue-waits img{
    width: 300px;
    height: auto;
}


/* Class & ID Selectors */


.hero {
    position: relative;
}


.hero img {
    display: block;
    width: 100%;
    height: auto;
} 



/* .sociallinks {
    right: 0;
} */

#logo {
    float: left;
}