@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #00434A;
    --secondary-color: #FFFFF2;
    --accent1-color: #218B84;
    --accent1-color: #41D3BD;

    --heading-font: 'Work Sans', serif;
    --paragraph-font: 'Quicksand', serif;

    --nav-background-color: #41D3BD;
    --nav-link-color: #218B84;
    --nav-hover-link-color: #218B84;
    --nav-hover-background-color: #41D3BD;
}

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header{
    position: relative;
    width: 100%;
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    text-align: center;
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a :visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

#adventue-waits {
    position: relative;
    text-align: center;
}

#adventue-waits img{
    width: 300px;
    height: auto;
    text-align: center;
}

/* Class & ID Selectors */

/* .hero-img img {
    width:;
} */
/* 
article img {
    width: 100%;
} */

.sociallinks {
    text-align: right;
}