* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 8px;
}

h1 {
    color: steelblue;
}

p { padding: 0; }

ul {
    line-height: 2;
    width: 250px;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main {
    max-width: 700px;
}

aside {
    position: relative;
    text-align: center;
}

aside img{
    width: 200px;
    height: auto;
}

/* aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
} */


footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

/*Class Selectors*/

.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgba( 0 , 0 , 0 , 0.1 );
    background-color: #eee;
    color: #333;

}